services:
  vue-app-${TF_VAR_ENV_APP_ENV_NAME}:
    image: ${TF_VAR_ENV_APP_NAME}:${TF_VAR_ENV_APP_NAMESPACE}_${TF_VAR_ENV_APP_ENV_NAME}
    container_name: ${TF_VAR_ENV_APP_NAME}_${TF_VAR_ENV_APP_NAMESPACE}_${TF_VAR_ENV_APP_ENV_NAME}
    build:
      context: ./
    volumes:
      - type: bind
        source: ${TF_VAR_ENV_APP_FRONTEND_LOCAL_SOURCE_FOLDER}/tmp
        target: /app/tmp/
    ports:
        - '${TF_VAR_ENV_APP_FRONTEND_LOCAL_PORT}:8080'
